.sidebar {
  width: 380px;
  height: '100vh';
  /* color: #f94951; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 50px 25px;
}

.sidebar_dark {
  /* border-right: #fc7a77 1px solid; */
  border-right: transparent 1px solid;
}

.nav_main {
  padding-top: 35px;
}

.noBullets {
  list-style-type: none;
  padding: 0;
}

.active {
  text-decoration: line-through;
}

.footerText {
  /* padding-top: 3px; */
  font-size: 0.68em;
  line-height: 20px;
}

.navItem {
  margin: 13px 0;
  display: block;
  width: 100%;
}

.navItem > a {
  font-weight: 700;
}

.navItem > a:hover {
  position: relative;
  margin-left: 10px;
  transition: margin-left 0.1s ease-in-out;
}

.navItem > a:hover::after {
  content: '';
  width: calc(100% + 52px);
  position: absolute;
  top: 10px;
  left: -26px;
  height: 1px;
  background-color: #7e120b;
}

.darkmode {
  margin: 13px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.darkmode:active {
  position: relative;
  margin-left: 10px;
  transition: margin-left 0.1s ease-in-out;
}

.darkmode:hover {
  cursor: pointer;
}

/* @media only screen and (max-width: 1025px) {
  .sidebar {
    display: none;
  }
} */
